<p>
    <button (click)="getStu()">GET</button>
    <button (click)="post()">POST</button>
    <button (click)="put()">PUT</button>
    <button (click)="delete()">DELETE</button>

</p>

<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Course</th>
        <th>Grade</th>
        <th>Phn</th>
        <th>Address</th>

    </tr>
    <tr  *ngFor="let students of listStudents">
        <td>{{students.studentId}}</td>
        <td>{{students.studentName}}</td>
        <td>{{students.course}}</td>
        <td>{{students.studentGrade}}</td>
        <td>{{students.phn}}</td>
        <td>{{students.address}}</td>

    </tr>



</table>